 
#nfcStatus {
    cursor: pointer;
}

#nfcStatus:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.spinner-border {
    animation: spinner-border 0.75s linear infinite;
}